<table class="table table-bordered">
<% @users.each do |user| %>
<tr>
<td><%= user.storename %></td>
<br>
<td><%= button_to "delete", user, method: :delete, class: :destroy%> </td>
</tr>
<% end %>
</table>