<h1>PIOUS</h1>
<h4>Pizza Ingredient Order Users System</h4>
<p>An efficient tool to order ingredients for your store.</p>
<p>Gone are the days of confusing tables and incorrect quantities. With this simple order form, getting your store supplied has never been easier!
	<div>
<%= link_to "Store Index", users_path, class: "btn btn-primary btn-lg"%>